*{
    margin: 0;
    font-family: "Poppins", serif;
    overflow-x: hidden;
}

body{
    width: 100vw;
    height: 100vh;
}

#title{
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}


nav{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    overflow: hidden;
}

nav img{
    width: 50px;
}

#nav-elemento{
    text-decoration: none;
    color: #FFF;
    padding: 5%;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

#nav-elemento:hover{
    font-size: large;
}

nav h1{
    margin-left: 5%;
    margin-right: 220px;
    color: #FFF;
}

main {
    position: relative;
    width: 100%;
    height: 85%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url(/img/praia.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    color: #FFFF;
    display: flex;
    flex-direction: column;
}

main p{
    font-size: 30px;
}

main h3{
    padding: 10px;
    background-color: rgb(255, 106, 0);
    border-radius: 20px;
    margin-top: 3%;
    cursor: pointer;
}

.principais-destinos {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: center;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box; 
}
.destino {
    width: 30%; 
    height: 300px; 
    background-color: #F0F0F0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

.destino-imagem{
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.destino-imagem img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.destino-texto{
    width: 100%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.destino-texto h1 {
    margin-left: 4%;
    font-size: 1.2rem;
}

.destino-texto h2 {
    margin-right: 4%;
    font-size: 1.2rem;
}

footer{
    margin-top: 40px;
    width: 100%;
    height: 30px;
    background-color: dimgrey;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    color: #FFFF;
}

.sobre{
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sobre-texto{
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.sobre-texto p{
    width: 80%;
}

.sobre-imagem{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.sobre-imagem img{
    width: 100%;
    height: 100%;
}

.perguntas{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.pergunta-elemento{
    width: 80%;
    height: 150px;
    background-color: #F0F0F0;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.pergunta-elemento h1{
    margin-left: 10px;
}

.pergunta-elemento p{
    margin-left: 10px;
}